@model IEnumerable<EnergieWebApp.Models.Device>

@{
    ViewData["Title"] = "Apparaten";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<img class="banner" src="~/resources/banner.png" />
<h1>Apparaten</h1>


<div>
    <a asp-action="Create" id="buttonheight" class="textbutton">Nieuwe maken </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="data" id="datakop">
                Naam
            </th>
            <th class="data" id="datakop">
                Soort
            </th>
            <th class="data" id="datakop">
                Mode
            </th>
            <th class="data" id="datakop">
                Kwh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="data">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="data">
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
                <td class="data">
                @Html.DisplayFor(modelItem => item.Mode)
            </td>
                <td class="data">
                @Html.DisplayFor(modelItem => item.Kwh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
